:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

@font-face {
  font-family: "MiniSans";
  src: url("../fonts/MINI-Sans/mini_sans-medium-webfont.eot");
  src: url("../fonts/MINI-Sans/mini_sans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MINI-Sans/mini_sans-medium-webfont.woff") format("woff"), url("../fonts/MINI-Sans/mini_sans-medium-webfont.ttf") format("truetype"), url("../fonts/MINI-Sans/mini_sans-medium-webfont.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "MiniSerifRegular";
  src: url("../fonts/MINI-Serif/mini_serif-regular-webfont.eot");
  src: url("../fonts/MINI-Serif/mini_serif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MINI-Serif/mini_serif-regular-webfont.woff") format("woff"), url("../fonts/MINI-Serif/mini_serif-regular-webfont.ttf") format("truetype"), url("../fonts/MINI-Serif/mini_serif-regular-webfont.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "MiniSerifBold";
  src: url("../fonts/MINI-Serif/mini_serif-bold-webfont.eot");
  src: url("../fonts/MINI-Serif/mini_serif-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MINI-Serif/mini_serif-bold-webfont.woff") format("woff"), url("../fonts/MINI-Serif/mini_serif-bold-webfont.ttf") format("truetype"), url("../fonts/MINI-Serif/mini_serif-bold-webfont.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "MiniSerifItalic";
  src: url("../fonts/MINI-Serif/mini_serif-italic-webfont.eot");
  src: url("../fonts/MINI-Serif/mini_serif-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MINI-Serif/mini_serif-italic-webfont.woff") format("woff"), url("../fonts/MINI-Serif/mini_serif-italic-webfont.ttf") format("truetype"), url("../fonts/MINI-Serif/mini_serif-italic-webfont.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'MiniSans';
  line-height: 1.6;
  min-height: 100vh;
  color: var(--color-dark-1); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MiniSerifBold'; }

button {
  border: none; }

.header {
  width: 100%;
  height: 100%;
  padding: 2rem; }
  .header .video-section {
    background-image: url("../img/video-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    position: relative; }
    .header .video-section iframe,
    .header .video-section object,
    .header .video-section embed {
      width: 100%;
      height: 100%; }
    .header .video-section__content {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase; }
      .header .video-section__content .header-small-text {
        font-size: 1.8rem;
        font-family: 'MiniSerifRegular';
        letter-spacing: 1px; }
      .header .video-section__content h2 {
        font-size: 4rem; }
      .header .video-section__content button#video-button {
        background: #fff;
        border-radius: 50%;
        font-size: 4rem;
        color: var(--color-grey-dark-1);
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all .3s; }
        .header .video-section__content button#video-button .invisible {
          position: absolute;
          left: -100%;
          font-size: 2rem;
          font-weight: 600;
          transition: all .3s;
          color: #fff; }
        .header .video-section__content button#video-button i {
          font-size: 2.3rem; }
        .header .video-section__content button#video-button:hover {
          width: 65px;
          height: 65px;
          background: var(--color-grey-dark-1);
          transition: all .3s;
          color: #fff;
          animation: pulsate 1s infinite; }
        .header .video-section__content button#video-button:hover .invisible {
          left: 13px;
          margin-right: 3px;
          transition: all .3s;
          background: none; }
        .header .video-section__content button#video-button:hover i {
          opacity: 0; }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
