:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}

$bp-largest: 93.5em; //1500px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 43.5em; //700px
$bp-smaller: 31.5em; //500px
$bp-xsmaller: 20em; //320px

//Fonts FAce mixin
@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'), url($font-file+'.woff') format('woff'), url($font-file+'.ttf') format('truetype'), url($font-file+'.svg#aller') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('MiniSans', '../fonts/MINI-Sans/mini_sans-medium-webfont');
@include font('MiniSerifRegular', '../fonts/MINI-Serif/mini_serif-regular-webfont');
@include font('MiniSerifBold', '../fonts/MINI-Serif/mini_serif-bold-webfont');
@include font('MiniSerifItalic', '../fonts/MINI-Serif/mini_serif-italic-webfont');
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem 10px, 10/16px = 62.5%
}

body {
  font-family: 'MiniSerifRegular';
  line-height: 1.6;
  min-height: 100vh;
  color: var(--color-dark-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MiniSerifBold';
}

button {
  border: none;
}

.btn{
  background: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: block;
  width: 150px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all .3s;

  &:hover{
    background: var(--color-grey-dark-2);
    transform: scale(1.05);
    transition: all .3s;
  }
}


